<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>D3 example</title>
    <link rel="stylesheet" type="text/css" href="../css/d3styling.css">
</head>
<body>
<!--    <h2>Lorem ipsum dolor This will work for me and I will master this in a very short time site. I don't think I am see-->
<!--        the change as I should. I am not really sure if this is working properly I don't know how to debug this maybe using the inSpect will be a good ideas</h2>-->
<!--    <ul></ul>-->
    <svg width="300px" height="300px"></svg>
    <svg class="bar-chart"></svg>
    <div class = "main"></div>

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script type="text/javascript" src="../js/tutorial.js"></script>

</body>
</html>